<br>
<br>


<div class="container mt-4">
    <h2>Tutorials</h2>
    <hr>
  
    <!-- Tutorial List -->
    <div class="row">
      <!-- Tutorial 1 -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tutorial Title 1</h5>
            <p class="card-text">Description of tutorial 1 goes here...</p>
            <a href="#" class="btn btn-primary">Read Tutorial</a>
          </div>
        </div>
      </div>
  
      <!-- Tutorial 2 -->
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tutorial Title 2</h5>
            <p class="card-text">Description of tutorial 2 goes here...</p>
            <a href="#" class="btn btn-primary">Read Tutorial</a>
          </div>
        </div>
      </div>
  
      <!-- Add more tutorials here -->
    </div>
  </div>
  