<br>
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col hp" *ngFor="let product of list_of_item">
        <div class="card h-100 shadow-sm">
          <a target="_blank" >
            <img src="{{url}}{{product.image}}" class="card-img-top" alt="product.title" />
          </a>
  
          <!-- <div class="label-top shadow-sm">
            <a class="text-white" target="_blank" href="https://amzn.to/3qeS1Fe">asus</a>
          </div> -->
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-success">{{product.title}}</span>
  
              <!-- <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span> -->
            </div>
            <h5 class="card-title">
              <a target="_blank">{{product.description}}</a>
            </h5>
  
            <div class="d-grid gap-2 my-4">
  
              <!-- <a href="#" class="btn btn-warning bold-btn">add to cart</a> -->
  
            </div>
            <div class="clearfix mb-1">
  
              <!-- <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span> -->
  
              <span class="float-end">
                <!-- <i class="far fa-heart" style="cursor: pointer"></i> -->
  
              </span>
            </div>
          </div>
        </div>
      </div>


     
    
     
    </div>
  </div>
  
  <!-- <div class="small text-muted my-4">Images by <a target="_blank" href="https://www.amazon.com/">Amazon</a></div> -->