<app-header></app-header> <br /><br />
<div class="container mt-5" *ngIf="user_type != 'b'">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img style="border-radius: 50%" src="../../assets/download.jfif" alt="Profile Picture"
                    class="profile-img" />
                <h3 class="mt-3" style="text-transform: uppercase">
                    {{ name }} {{ lname }}
                </h3>
            </div>
            <hr />
            <div class="text-left">
                <!-- <h5>About Me</h5> -->
                <h5>Contact Information</h5>
                <ul>
                    <li>Email: {{ email }}</li>
                    <br>
                    <li>Phone: {{ mono }}</li>
                    <br>
                    <li>Address: {{ address }}</li>
                    <br>
                    <li>City: {{ city }}</li>
                    <br>
                    <li>State: {{ state }}</li>
                    <br>
                    <li>Joining Date: {{ created | date }}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profile Update</h5>
                    <div class="col-12">
                        <label>Name<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label>Last Name<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Last Name" [(ngModel)]="lname" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label>Mobile<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-phone-fill"></i>
                            </div>
                            <input disabled type="number" class="form-control" placeholder="Enter Mobile Number"
                               [(ngModel)]="mono" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label>Email<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input disabled type="text" class="form-control" placeholder="Enter Email" [(ngModel)]="email" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label>Address<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Address" [(ngModel)]="address" />
                        </div>
                    </div>

                    <div class="col-12">
                        <label>City<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </div>
                            <input [(ngModel)]="city" type="text" class="form-control" placeholder="Enter City" [(ngModel)]="city" />
                        </div>
                    </div>

                    <div class="col-12">
                        <label>State<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter State" [(ngModel)]="state" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-dark px-4 float-start mt-4" (click)="update(name,lname,mono,email,address,city,state)">
                                Update Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <div class="col-12">
                        <label>New Pasword<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input type="password" class="form-control" placeholder="***" [(ngModel)]="np" />
                        </div>
                    </div>

                    <div class="col-12">
                        <label>Confirm New Password<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input type="password" class="form-control" placeholder="***" [(ngModel)]="cnp" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-dark px-4 float-start mt-4" (click)="cp(np,cnp)">
                                Update Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- //////////////////////////////////////////////////Business user///////////////////////////////////////////////////////////// -->

<div class="container mt-5" *ngIf="user_type == 'b'">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img style="border-radius: 50%" src="../../assets/download.jfif" alt="Profile Picture"
                    class="profile-img" />
                <h3 class="mt-3" style="text-transform: uppercase">
                    {{ name }}
                </h3>
            </div>
            <hr />
            <div class="text-left">
                <h5>Business User : {{b_user}}</h5>
                <h5>Contact Information</h5>
                <ul>
                    <li>Email: {{ email }}</li>
                    <br>
                    <li>Phone: {{ mono }}</li>
                    <br>
                    <li>Landline: {{ b_land }}</li>
                    <br>

                    <li>Address: {{ address }}</li>
                    <br>
                    <li>City: {{ city }}</li>
                    <br>
                    <li>State: {{ state }}</li>
                    <br>
                    <li>Joining Date: {{ created | date }}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profile Update</h5>
                    <div class="col-12">
                        <label>Business Name<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Business Name" [(ngModel)]="name" />
                        </div>
                    </div>

                    <div class="col-12">
                        <label>Business Owner<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Business Owner" [(ngModel)]="b_user" />
                        </div>
                    </div>
                
                    <div class="col-12">
                        <label>Mobile<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-phone-fill"></i>
                            </div>
                            <input disabled type="number" class="form-control" placeholder="Enter Mobile Number"
                               [(ngModel)]="mono" />
                        </div>
                    </div>

                    <div class="col-12">
                        <label>Landline<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input disabled type="number" class="form-control" placeholder="Enter Landline" [(ngModel)]="b_land" />
                        </div>
                    </div>


                    <div class="col-12">
                        <label>Email<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input disabled type="text" class="form-control" placeholder="Enter Email" [(ngModel)]="email" />
                        </div>
                    </div>
                    <div class="col-12">
                        <label>Address<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Address" [(ngModel)]="address" />
                        </div>
                    </div>

                    <div class="col-12">
                        <label>City<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </div>
                            <input [(ngModel)]="city" type="text" class="form-control" placeholder="Enter City" [(ngModel)]="city" />
                        </div>
                    </div>

                    <div class="col-12">
                        <label>State<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter State" [(ngModel)]="state" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-dark px-4 float-start mt-4" (click)="update_b(name,b_user,mono,b_land,email,address,city,state)">
                                Update Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <div class="col-12">
                        <label>New Pasword<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input type="password" class="form-control" placeholder="***" [(ngModel)]="np" />
                        </div>
                    </div>

                    <div class="col-12">
                        <label>Confirm New Password<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <input type="password" class="form-control" placeholder="***" [(ngModel)]="cnp" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-dark px-4 float-start mt-4" (click)="cp_b(np,cnp)">
                                Update Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>