<div style="text-align: center;"> 
    <img width="300" src="../../../assets/logo.png" alt="">
    <h1 style="color: #eb445a;">Welcome to ShopFindy</h1>
    <p>Welcome Account</p>
    <p style="color: #6e6c6b;">
      Congratulations! $20.00 will be
      deposited in your ShopFindy
      Account for signing up and you
      can immediately start shopping
      and getting Cash Back.
      finish setting
    </p>
    
<!-- <button color="primary" fill="outline" routerLink="completeac">  
  Complete Account
 </button> -->
 <button type="button" class="btn btn-primary" (click)="neext()">Complete Account</button>

 <!-- <button type="button" class="btn btn-primary" (click)="logout()">Account</button> -->

 <!-- <button color="primary" fill="outline" routerLink="/accountcomplete-b" *ngIf="user_type == 'b'">  
    Complete Account
  </button> -->
</div>


